/*********************************** Seccion1 de card*******************************************************************/

/*************Banner***************/
.banner2 {
    background-image: url("https://i.pinimg.com/736x/c2/3d/bb/c23dbb2def4938ab04cf19caca9f1498.jpg");
    background-size: cover;
    background-position: center;
    height: 64vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
    text-align: center;

}

.banner-content2 {
    height: 21rem;
    font-family: var(--fuente-titulos);
    color: var(--color-fondo-suave);
    font-weight: 700;
    font-size: 1rem;
}


.contend-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.contend-grid h5 {
    color: var(--color-texto-gris);
    font-family: var(--fuente-titulos);
    font-weight: 700;
}

.contend-grid p {
    color: var(--color-texto-gris);
    font-family: var(--fuente-texto);
    font-weight: 400;
}


.contend-grid li:nth-of-type(1) {
    color: var(--color-texto-gris);
    font-family: var(--fuente-texto);
    font-weight: 400;
}

.contend-grid li:nth-of-type(2) {
    color: var(--color-principal);
    font-family: var(--fuente-texto);
    font-weight: 400;
}


.contend-grid img:nth-of-type(4) {
    width: 285px;
    /* Tamaño fijo de ancho */
    height: 75pxpx;
    /* Tamaño fijo de altura */
    object-fit: cover;
}


.contend-grid img {
    width: 280px;
    /* Tamaño fijo de ancho */
    height: 50px;
    /* Tamaño fijo de altura */

    /* Mantiene la proporción y recorta si es necesario */
}

.silla-img img {
    width: 150px;
    /* Tamaño fijo de ancho */
    height: 50px;
    /* Tamaño fijo de altura */
    /
}

.no-border {
    border: none !important;
}

/*****Estilo al boton de ver mas en articulos******/
.global-b a {
    color: var(--color-fondo-suave);
    font-weight: 700;
    background-color: var(--color-principal);
    margin-top: 1rem;
}


@media(min-width: 768px) {
    .contend-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

}

@media (min-width: 992px) {
    .contend-grid {
        grid-template-columns: repeat(4, 1fr);
        /* 4 columnas para desktop */
    }
}

/*********************************** Seccion2 de card de juegos y consolas gamer*******************************************************************/
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: var(--blanco);
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px var(--color-acento);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 325px;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--color-texto-gris);
    font-family: var(--fuente-titulos);

}

.card-container p:nth-of-type(5) {
    color: var(--color-principal);
}

.card-text {
    font-size: 1rem;
    color: var(--color-texto-gris);
    font-family: var(--fuente-texto);
    font-weight: 400;
}


.discount {
    color: var(--blanco) !important;
    font-family: var(--fuente-texto);
    font-weight: 400;
    background-color: var(--color-principal);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    /*Posicionamiento absoluto*/
    top: 10px;
    right: 10px;
}

/*********************************** Fin Seccion2 de card de juegos y consolas gamer*******************************************************************/

.container-contact {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;

}

@media(min-width: 768px) {

    .container-contact {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .container-contact p {
        margin-top: 1rem;
    }
}